body {

}

th {
  text-align: left;
}

.thumbnail {
  width: 50px;
}

img {
  width: 300px;
}

.newdate {
  background-color: red;
}

.fa {
  color: white
}
#welcome {
   -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Raleway';
  font-weight: 10;
}

h2 {
  color: #ca918c;
}

p {
  font-family: 'Indie Flower';
  font-size: 18px;
  color:#F2E3D5;
  letter-spacing: 1px;
}

h3{
  font-family: 'Raleway';
}

h4 {
  font-family: 'Raleway';
  color: white;
}

li{
  font-family: 'Indie Flower';
}
input[type="text"]
{
    font-color:red;
}
button{
  font-family: 'Raleway';
}


input[type="text"]
{
    font-color:red;
}
button{
  font-family: 'Raleway';
}

.loggedinbar {
  display: block;
  border: solid;
  border-color: #8B1919;
  background-color: pink;
  text-align: center
}

.loggedinbar form {
  display: inline-block;

}

.loggedinbar button {
<<<<<<< HEAD

=======
>>>>>>> rob_v6
margin-left: 25px;
margin-right: 25px;
}
.inline-buttons form {
  display: inline;
}

.inline-buttons form {
  display: inline;
}

.glyphicon-home {
 color: white
}


.front img {
  width: inherit;
  height: auto;
}

.unread {
  background-color: white;
}

.bachlorette {
  background-color: #C3C1E5;
}
.main_view {
  background-color: white;
}

.login {
  margin: auto;
  text-align: center;
  color: #1C4C86;
}

.login p {
  text-align: center;
  font-family: 'Raleway';
  color: #1C4C86;
}

.queue {
  background-color: #9A98E3;
}

.queue li {
  display: inline-block;
  padding: 30px;
}


/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 400px;
  height: 400px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: #D92546;
  padding: 5px 15px 5px 15px;
}
<<<<<<< HEAD
=======

>>>>>>> rob_v6
.update_range {
margin-bottom: 0.25%;
text-align: center;
}
.input-group{
  width: 200px
}
input{
  font-family: 'Raleway';
}

