<div class="col-md-offset-4 col-md-4 col-md-offset-4">  
  <% if the_bachelorette? %>
  <div class="container">
  <h1>Accept a suitor</h1>
    <% show_proposals.each do |proposal| %>
    <p><a href=""><%= proposal.sender.first_name %></a> said..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/accept/<%= proposal.id %>"><button>Check me out?</button></a><br><%= proposal.description %></p>
    <% end %>
  </div>
  <% end %>
</div>