<div class="col-md-offset-4 col-md-4 col-md-offset-4">
  <% if the_bachelorette? %>
  <div class="container">
    <h1>Accept a suitor</h1>
    <% show_proposals.each do |proposal| %>
    <p class="accept_proposal"><%= proposal.sender.first_name %> said..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/accept/<%= proposal.id %>"><button class="btn btn-danger">Check me out?</button></a><br><%= proposal.description %></p>
    <% end %>
  </div>
  <% end %>
</div>
