<div id="footer" style="bottom: 0px;">
  <div id="footerMenu"><div id="footerSocial">

    <i class="fa fa-twitter fa-3"></i>
 <i class="fa fa-envelope fa-3"></i>
    <i class="fa fa-facebook fa-3"></i>
<i class="fa fa-instagram fa-3"></i> <br>
 </div>
    <div id="footerMenuTextButtons"><a href="http://nationallgbtmuseum.org/privacy-policy" target="_blank">Privacy Policy</a> &nbsp; <a href="http://nationallgbtmuseum.org/legal" target="_blank">Legal Terms</a> &nbsp; <a href="http://nationallgbtmuseum.org/credits" target="_blank">Credits</a></div></div>


  <div id="footerSearch">
    <div class="gf_browser_chrome gform_wrapper form-newsletter-signup_wrapper" id="gform_wrapper_5"><form method="post" enctype="multipart/form-data" id="gform_5" class="form-newsletter-signup" action="http://nationallgbtmuseum.org/">
        <div class="gform_body">
            <ul id="gform_fields_5" class="gform_fields left_label description_below"><li id="field_5_1" class="gfield"><label class="gfield_label" for="input_5_1">Sign Up for Our Newsletter: </label><div class="ginput_container"><input name="input_1" id="input_5_1" type="text" value="" class="medium" tabindex="1056"></div></li>
            </ul></div>
            </div>
        </form>
