<% if logged_in? %>
<div class="loggedinbar">

Welcome, <%= current_user.first_name %>

<% if !on_active_list? %>
<form action="/futurebachelorette" method="post">
  <input type="submit" value="Get On The Bus!">
</form>
<% end %>

<form action="/" method="get">
  <input type="submit" value="Home">
</form>

<form action="/<%=session[:user_id] %>/dates" method="get">
  <input
  <% if date_notification? %>
    class="unread"
  <% end %>
  type="submit" value="My Dates">
</form>

<form action="/<%=session[:user_id] %>" method="get">
  <input type="submit" value="View Profile">
</form>

<form action="/logout/" method="post">
  <input type="submit" value="Logout">
</form>

</div>
<% end %>
