<% if logged_in? %>
<div class="loggedinbar">

<span id='welcome'>Welcome, <%= current_user.first_name %></span>

<% if !on_active_list? %>

<form  action="/futurebachelorette" method="post">
<<<<<<< HEAD
  <button class="btn  btn-danger" type="submit" value="Get On The Bus!">     Get On The Bus!    <i class="fa fa-bus"></i></button>
=======
  <button class="btn  btn-danger" type="submit" value="Get On The Bus!">   Get On The Bus!    <i class="fa fa-bus"></i></button>
>>>>>>> rob_v6

</form>
<% end %>

<form action="/" method="get">
<<<<<<< HEAD
  <button class="btn btn-danger" input type="submit" value="Home"> </i>    Home    <span class="glyphicon glyphicon-home"></span></button>
=======
  <button class="btn btn-danger" input type="submit" value="Home">    Home    <span class="glyphicon glyphicon-home"></span></button>
>>>>>>> rob_v6
</form>


<form action="/<%=session[:user_id] %>/dates" method="get">
  <button class="btn btn-danger"
<<<<<<< HEAD
   input type="submit" value="My Dates">
=======
   input type="submit" value="My Dates"> 
>>>>>>> rob_v6
  <% if date_notification? %>
    New Date!
  <% else%>
       My Dates
  <% end %>
  <i class="fa fa-heart"></i></button>
</form>


<form action="/<%=session[:user_id] %>" method="get">
  <button class="btn btn-danger" type="submit" value="View Profile">    View Profile    <i class="fa fa-heart"></i></button>
</form>

<form action="/logout/" method="post">
<<<<<<< HEAD
  <button class="btn  btn-danger" type="submit" value="Logout">    Logout   <i class="fa fa-chain-broken"></i></button>
=======
  <button class="btn  btn-danger" type="submit" value="Logout">   Logout   <i class="fa fa-chain-broken"></i></button>
>>>>>>> rob_v6
</form>

</div>
<% end %>
