<% if logged_in? %>
<div class="loggedinbar">

<form action="/" method="get">
  <input type="submit" value="Home">
</form>

<form action="/<%=session[:user_id] %>/dates" method="get">
  <input type="submit" value="My Dates">
</form>

<form action="/<%=session[:user_id] %>" method="get">
  <input type="submit" value="View Profile">
</form>

<form action="/logout/" method="post">
  <input type="submit" value="Logout">
</form>

</div>
<% end %>
