<% if session[:messages] %>
<div class="row error">
<div class="col-md-12">

  <ul>
<% session[:messages].each do |name, message|%>
<li style='text-align:center; height:50px; font-size:2em;'><%= message%></li>
<% end %>
  </ul>
</div>
</div>
<% end %>

<% session[:messages] = nil %>
