<div class="row">
<div class="col-md-12 queue">
  <h3 style="text-align:center">Upcoming hotties.</h3>
  <ul>
    <% show_queue.each do |user| %>
    <li><img class="thumbnail" src="<%=user.picture %>"> <%= user.quirk %></li>
    <% end %>
  </ul>

</div>
</div>
