<h2>Fill in your profile</h2>

<form action="/signup" method="post">

  <p>Email address:</p> <input name="args[email]"></input>
  <p>Password:</p> <input type="password" name="args[password_hash]"></input>
  <p>Birthday:</p> <input name="args[birthday]"></input>
  <p>Photo:</p> <input name="args[picture]"></input>
  <p>Quirk:</p> <input name="args[quirk]"></input>
  <p>Gender</p> <input name="args[gender]"></input>
  <p>Bio</p> <input name="args[bio]"></input>
  <p>Sexual preference</p> <input name="args[preference]"></input>

  <input type="submit" value="create"></input>
</form>
