<div class="container">
  <h1>Welcome to Bachelor.ette!</h1>
  
  <form action="/propose" method="post">
    <p>Message your future love: </p>
    <p><textarea type="text" name="proposal" placeholder="Keep it PG" value="" rows="10" cols="40"></textarea></p>

    <input type="submit" value="Send with a kiss"/>
  </form>


</div>
