<div class="container">
  <h1>Welcome to Bachelor.ette!</h1>
  <h2>Sign Up</h2>

<form action="/user/signup" method="post">
  <p>First name:</p> <input name="args[first_name]"></input>
  <p>Last name:</p> <input name="args[last_name]"></input>
  <p>Email address:</p> <input name="args[email]"></input>
  <p>Password:</p> <input type="password" name="args[password_hash]"></input>

  <p><input type="submit" value="sign up!"></input></p>
</form>




</div>

